.AppLayoutContent
  flex: 1

.AppLayoutFooter
  height: 3em
  background-color: $grey-70

  .link
    color: $grey-20

  .text
    color: $grey-40
    font-weight: 100
    font-size: 0.75em

.AppLayoutSidebar
  width: 15em
  height: 100%

  &__wrapper
    height: 100%

.AppLayoutSidebarHeader
  padding: 16px
  background-color: $blue-50
  cursor: pointer
