.InputBlock
  & + &
    margin-top: 2em

.InputBlockBody
  overflow: hidden
  transition: max-height 800ms ease-in-out

  &.expand
    max-height: 1400px

  &:not(.expand)
    max-height: 0

.InputBlockTitle
  color: $grey-50
  cursor: pointer

  &:hover
    color: $grey-70
