.AuthLayout
  margin-bottom: 30vh

  &__alternate-message
    color: $grey-60
    text-decoration: none
    cursor: pointer

    &:hover
      text-decoration: underline

  &__header
    color: $blue-50

    &__primary
      margin-bottom: 0.5em
      &__logo
        width: 100%

    &__secondary
      font-weight: 200
      font-size: 2em

  .Panel
    margin-top: 1em
    margin-bottom: 2em
    padding: 1em 3em 2em
    width: 100%
