.InputBlock
  & + &
    margin-top: 2em

.InputBlockTitle
  color: $grey-50
  cursor: pointer

  &:hover
    color: $grey-70

  &.disabled
    color: $grey-30
    cursor: default

    &:hover
      color: $grey-30

  &.open, &.force-open
    color: $grey-70

    &:hover
      color: $grey-70

  &.force-open
    cursor: default
