{
  "presets": [
    [
      "es2015",
      {
        "loose": true,
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-regenerator"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "code-split-component/babel"
      ]
    }
  }
}